<!-- Start Footer -->
<footer class="footer-area bg-f">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <h3>Ẩm thực Việt</h3>
                <p>Nơi trải nghiệm sự thăng hoa của ẩm thực, mang hương vị nhà hàng đến với gia đình bạn.</p>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <h3>Opening hours</h3>
                <p><span class="text-color">Monday: </span>Closed</p>
                <p><span class="text-color">Tue-Wed :</span> 9:Am - 10PM</p>
                <p><span class="text-color">Thu-Fri :</span> 9:Am - 10PM</p>
                <p><span class="text-color">Sat-Sun :</span> 5:PM - 10PM</p>
            </div> -->
            <div class="col-lg-3 col-md-6">
                <h3>Liên hệ</h3>
                <!-- <p class="lead">Ipsum Street, Lorem Tower, MO, Columbia, 508000</p> -->
                <!-- <p class="lead"><a href="#">+01 2000 800 999</a></p>
                <p><a href="#"> info@admin.com</a></p> -->
                <p>SĐT: 0917973399</p>
                <p>Email:</p>
            </div>
            <!-- <div class="col-lg-3 col-md-6">
                <h3>Subscribe</h3>
                <div class="subscribe_form">
                    <form class="subscribe_form">
                        <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
                        <button type="submit" class="submit">SUBSCRIBE</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                <ul class="list-inline f-social">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div> -->
        </div>
    </div>
    
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="company-name">All Rights Reserved. &copy; 2023 <a href="#">Ẩm thực Việt</a></p>
                </div>
            </div>
        </div>
    </div>
    
</footer>
<!-- End Footer -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<script src="/js/main-page/jquery-3.2.1.min.js"></script>
<script src="/js/main-page/popper.min.js"></script>
<script src="/js/main-page/bootstrap.min.js"></script>
<!-- ALL PLUGINS -->
<script src="/js/main-page/jquery.superslides.min.js"></script>
<script src="/js/main-page/images-loded.min.js"></script>
<script src="/js/main-page/isotope.min.js"></script>
<script src="/js/main-page/baguetteBox.min.js"></script>
<script src="/js/main-page/form-validator.min.js"></script>
<script src="/js/main-page/contact-form-script.js"></script>
<script src="/js/main-page/custom.js"></script>

<!-- Smooth scrolling script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $('a[href^="#"]').on('click', function(event) {
        var target = $(this.getAttribute('href'));
        if( target.length ) {
            event.preventDefault();
            $('html, body').stop().animate({
                scrollTop: target.offset().top
            }, 1500); // Change 1500 to adjust the scroll speed
        }
    });
</script>


</body>
</html>