<!-- Required Js -->
<script src="/js/admin/vendor-all.min.js"></script>
<script src="https://kit.fontawesome.com/b0b8434f7e.js" crossorigin="anonymous"></script>
<script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/admin/pcoded.min.js"></script>
<script>
    function redirectToBlogDetails() {
        window.location.href = "../blog-details.html";
    }
</script>

</body>
</html>
