<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <!-- <a href="../index.html" ><button class="btn btn-secondary mr-2">Button</button></a> -->
            <a href="/"> <i class="fa-solid fa-house-chimney" style="color: #ffffff;"></i> </a>

            <a href="/" class="b-brand">
                <!-- <div class="b-bg">
                    <i class="feather icon-trending-up"></i>
                </div> -->
                <span class="b-title">User</span>
            </a>
            <!-- <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a> -->
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <!-- <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li> -->
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                    <a href="/shared-dish" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span class="pcoded-mtext">Món ăn đã chia sẻ</span></a>
                </li>

                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                    <a href="/liked-dish" class="nav-link "><span class="pcoded-micon"><i class="feather icon-user"></i></span><span class="pcoded-mtext">Món ăn yêu thích</span></a>
                </li>

                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" class="nav-item active">
                    <a href="/comment" class="nav-link "><span class="pcoded-micon"><i class="feather icon-check-square"></i></span><span class="pcoded-mtext">Bình luận</span></a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->